<ul>
  <li>
    <a class="icon" href="http://www.facebook.com/sharer.php?u=<%= page.permalink %>">
      <i class="bi bi-facebook"></i>
    </a>
  </li>
  <li>
    <a class="icon" href="https://twitter.com/share?url=<%= page.permalink %>&text=<%= page.title %>">
      <i class="bi bi-twitter-x"></i>
    </a>
  </li>
  <li>
    <a class="icon" href="http://www.linkedin.com/shareArticle?url=<%= page.permalink %>&title=<%= page.title %>">
      <i class="bi bi-linkedin"></i>
    </a>
  </li>
  <li>
    <a class="icon" href="https://pinterest.com/pin/create/bookmarklet/?url=<%= page.permalink %>&is_video=false&description=<%= page.title %>">
      <i class="bi bi-pinterest"></i>
    </a>
  </li>
  <li>
    <a class="icon" href="mailto:?subject=<%= page.title %>&body=Check out this article: <%= page.permalink %>">
      <i class="bi bi-envelope-fill"></i>
    </a>
  </li>
  <li>
    <a class="icon" href="http://reddit.com/submit?url=<%= page.permalink %>&title=<%= page.title %>">
      <i class="bi bi-reddit"></i>
    </a>
  </li>
</ul>
