<section id="gallery">
  <% if (config.description) { %>
    <%- markdown(config.description) %>
  <% } %>
  <%- partial('_partial/albums', { title: '正規專輯', type: 'regular' }) %>
  <%- partial('_partial/albums', { title: '迷你專輯', type: 'mini' }) %>
  <%- partial('_partial/albums', { title: '單曲', type: 'single' }) %>
  <%- partial('_partial/albums', { title: '錄音室現場', type: 'studio' }) %>
</section>
