<section id="gallery">
  <% if (config.description) { %>
    <%- markdown(config.description) %>
  <% } %>
  <div id="regular-album">
    <h1>正規專輯</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <% site.pages.forEach(page => {
            if (page.type !== 'regular') return;
        %>
            <div class="col">
                <div class="card bg-transparent mx-1 mx-md-0">
                    <img src="<%= page.cover %>" alt="<%= page.title %>" class="rounded" />
                    <p><a href="<%= page.permalink %>"><%= page.title || page.slug %></a></p>
                </div>
            </div>
        <% }); %>
    </div>
  </div>
  <div id="mini-album">
    <h1>迷你專輯</h1>
    <% site.pages.forEach(page => {
        if (page.type !== 'mini') return;
    %>
        <img src="<%= page.cover %>" alt="<%= page.title %>" />
        <p><a href="<%= page.permalink %>"><%= page.title || page.slug %></a></p>
    <% }); %>
  </div>
  <div id="single-album">
    <h1>單曲</h1>
    <% site.pages.forEach(page => {
        if (page.type !== 'single') return;
    %>
        <img src="<%= page.cover %>" alt="<%= page.title %>" />
        <p><a href="<%= page.permalink %>"><%= page.title || page.slug %></a></p>
    <% }); %>
  </div>
</section>

<section id="writing">
  <span class="h1"><a href="<%- url_for("archives") %>">Writing</a></span>
  <ul class="post-list">
    <% site.posts.sort('date', 'desc').limit(theme.customize.post_count || 5).each(function(post, i){ %>
      <li class="post-item">
        <%- partial('_partial/post/date', { post: post, class_name: 'meta' }) %>
        <span><%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %></span>
      </li>
    <% }); %>
  </ul>
</section>

<% if (site.data.projects) { %>
<section id="projects">
  <span class="h1"><a href="<%- url_for(theme.projects_url) %>">Projects</a></span>
  <ul class="project-list">
    <% for(var obj in site.data.projects){ %>
      <li class="project-item">
        <a href="<%= site.data.projects[obj].url %>"><%= site.data.projects[obj].name %></a>: <%= site.data.projects[obj].desc %>
      </li>
    <% } %>
  </ul>
</section>
<% } %>
