<div class="col">
    <div class="card bg-transparent border-0 p-2">
        <a href="<%= page.permalink %>">
            <img src="<%= page.cover %>" alt="<%= page.title %>" class="mw-100 rounded" />
        </a>
        <span class="album-title m-0">
            <a href="<%= page.permalink %>"><%= page.title || page.slug %></a>
            <% if (page.tag) { %>
                <br>
                <span class="badge"><%- page.tag %>
            <% } %>
        </span>
    </div>
</div>